<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Restaurant Grid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <section class="restaurant-list">
        <div class="restaurant-list__filters">
            <button class="restaurant-list__filter restaurant-list__filter--active">All</button>
            <button class="restaurant-list__filter">Paresan</button>
            <button class="restaurant-list__filter">Karinderya</button>
            <button class="restaurant-list__filter">Restaurant</button>
            <button class="restaurant-list__filter">Chinese Restaurant</button>
            <button class="restaurant-list__filter">Japanese Restaurant</button>
        </div>

        <div class="restaurant-list__grid">
             {% for restaurant in restaurants %}
            <div class="restaurant-card">
                <div class="restaurant-card__image">
                    <img src="{{ restaurant.image_url }}" alt="Restaurant Image 1">
                </div>
                <div class="restaurant-card__status {{ 'restaurant-card__status--open' if restaurant.status == 'Open' else 'restaurant-card__status--closed' }} ">{{restaurant.status}}</div>
                <div class="restaurant-card__info">
                    <h3 class="restaurant-card__name">{{restaurant.restaurant_name}}</h3>
                    <p class="restaurant-card__location">{{restaurant.location}}</p>
                    <button class="restaurant-card__button">View</button>
                </div>
            </div>
             {% endfor %}
        </div>


        <div>
            {% for restaurant in restaurants %}

                <p>{{restaurant.id}}</p>
                <p>{{restaurant.restaurant_name}}</p>
                <p>{{restaurant.location}}</p>
                <p>{{restaurant.status}}</p>
                <p>{{restaurant.image_url}}</p>

            {% endfor %}
        </div>



    </section>
</body>
</html>
